<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 检查更新与下载新版本 APK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 应用内安装新版本 APK。本应用通过 GitHub Release 分发、不上架 Google Play，
         因此可以使用该权限；若将来要上架应用商店需移除并改为跳转浏览器下载。 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:label="Ligy Tally"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- 把下载好的 APK 以 content:// 形式交给系统安装器。
             authority 刻意区别于 share_plus 的 .flutter.share_provider
             与 image_picker 的 .flutter.image_provider，避免 provider 冲突。 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.update_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_provider_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- MAIN/LAUNCHER 意图移到下方 activity-alias，用于运行时切换桌面图标。
                 保留 MainActivity 但不再作为 launcher 入口。 -->
        </activity>

        <!-- 桌面图标切换用两个 activity-alias。
             把 MAIN/LAUNCHER 意图从 MainActivity 挪到 alias 上，
             运行期用 PackageManager.setComponentEnabledSetting 在
             .LauncherDark / .LauncherLight 之间切换即可换图标，
             MainActivity 本体不参与切换，保持进程与任务栈稳定。

             注意：两个 alias 至少同时保持一个 enabled。
             默认沿用先前的黑底白字（dark）。 -->
        <activity-alias
            android:name=".LauncherDark"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Ligy Tally"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_light"
            android:label="Ligy Tally"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
